.content-section h2 {
  color: var(--secondary-text);
  margin-bottom: 1.5rem;
}

.loading {
  color: var(--secondary-text);
  font-style: italic;
}

.project {
  padding: 16px 24px;
  margin: 16px 0px;
  border-radius: 16px;
  border: 2px solid var(--secondary-text);
  background-color: var(--main-background);
  transition: all 0.2s ease-in-out;
}

.project:hover {
  background-color: var(--secondary-text);
  color: var(--main-background);
}

.project-date {
  font-size: 0.85rem;
  opacity: 0.8;
}

.project-name {
  margin: 4px 0 12px 0;
  color: var(--secondary-text);
  font-size: 1.5rem;
}

.project:hover .project-name {
  color: var(--main-background);
}

.project-description {
  line-height: 1.5;
  margin-bottom: 16px;
}

.project-links {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.project-info {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
}

.project-info:hover {
  color: var(--main-accent);
}

.project-info i {
  transition: transform 0.3s ease-in-out;
}

.project-info:hover i {
  transform: translateX(4px);
}

.techList {
  display: flex;
  gap: 8px;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}

.project-tech {
  font-size: 0.75rem;
  background-color: var(--secondary-text);
  color: var(--main-background);
  padding: 4px 12px;
  border-radius: 16px;
  border: 1px solid transparent;
}

.project:hover .project-tech {
  background-color: var(--main-background);
  color: var(--secondary-text);
  border: 1px solid var(--secondary-text);
}
