.details {
  margin-bottom: 32px;
}

.details h1.name {
  color: var(--active-text);
  margin-bottom: 0;
  font-size: clamp(48px, 9.65vw, 84px);
  text-align: justify;
}

.role {
  font-size: clamp(32px, 5vw, 40px);
  font-weight: 600;
  margin-top: 0.25rem;
  margin-bottom: 0;
  color: var(--secondary-text);
}

.contact,
.location {
  font-size: clamp(18px, 2.5vw, 24px);
  color: var(--main-text);
  margin-top: 0.25rem;
}

.social-links {
  display: flex;
  gap: 1rem;
  align-items: start;
  margin-top: 1rem;
}

/* Updated Resume Styles */
.resume-container {
  position: relative;
}

.resumeBtn {
  background: none;
  border: none;
  color: var(--secondary-text);
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.resumeBtn:hover {
  color: var(--main-accent);
}

.resumeBtn i {
  font-size: 1.5rem;
}

.resume-list {
  display: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 8px);
  z-index: 10;
  outline: 1px solid var(--main-border);
  border-radius: 8px;
  background-color: var(--main-background);
  min-width: 120px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.resume-list.show {
  display: block;
}

.resume-list ul {
  padding: 8px 0;
  margin: 0;
  list-style: none;
}

.resume-list li {
  padding: 8px 16px;
  cursor: pointer;
  white-space: nowrap;
}

.resume-list li:hover {
  background-color: var(--secondary-text);
  color: var(--main-background);
}
