.skills {
  margin-bottom: 64px;
  position: relative;
  padding: 24px 0;
}

/* The full-width background strip */
.skills::before {
  position: absolute;
  content: "";
  width: 100vw;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-background);
  z-index: -1; /* Ensure it stays behind the text */
}

.title {
  color: var(--secondary-text);
  position: relative;
  border-bottom: 1px solid var(--secondary-text);
  margin-top: 0;
}

.skillList {
  position: relative;
  display: flex;
  gap: 2rem;
  padding: 0;
  justify-content: space-evenly;
  margin: 0;
  list-style: none; /* Removed the dots */
}

.skillItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  color: var(--main-text);
}

.skillItem i {
  font-size: 1.5rem;
}

.skillItem p {
  font-size: 0.75rem;
  margin: 0;
}
