#root {
  max-width: 800px;
  padding: 2rem;
  padding-bottom: 0;
  flex: 1;
  margin: 0 auto;
}

.content{
  flex-grow: 1;
}

main{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  height: 100%;
}

header.menu{
  position: sticky;
  top: 32px;
  z-index: 1;
}

h1{
  font-size: clamp(32px, 4rem,72px);
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: 
  "wdth" 150,
  "XOPQ" 175,
  "YOPQ" 25,
  "XTRA" 350,
  "YTLC" 550,
  "YTAS" 850,
  "YTDE" -300;
  /* margin-bottom: 0; */
}

h2{
  font-size: 1.25rem;
}

a{
  color: inherit;
}

a:hover{
  color: var(--main-accent);
}

b{
  color: var(--slate-300);
}

.main-footer{
  margin-top: 32px;
  position: relative;
}

.main-footer::after{
  position: absolute;
  content: "";
  bottom: 0;
  width: 100vw;
  height: 100%;
  left: 50%;
  transform: translate(-50%,0);
  background-color: var(--main-background);
  z-index: 0;
}

.copyright{
  position: relative;
  z-index: 1;
  border-top: 1px solid var(--secondary-text);
  padding: 32px 0;
}