.navContainer {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 4;
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  margin: 0;
  background-color: transparent;
  border-radius: 48px;
  backdrop-filter: blur(20px);
  border: 1px solid var(--secondary-background);
  position: relative;
}

.menu-tab {
  padding: 4px 16px;
  box-sizing: border-box;
  border-radius: 48px;
  z-index: 3;
  transition: color 0.3s ease;
}

.menu-tab.active {
  color: var(--teal-300);
  text-shadow: 0px 0px 5px #000000cc;
}

.menu-tab a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.tab-bubble {
  position: absolute;
  left: 0;
  border-radius: 48px;
  box-sizing: border-box;
  transition:
    transform 0.3s ease-in-out,
    width 0.3s ease-in-out;
  background-color: var(--secondary-text);
  z-index: 2;
  pointer-events: none;
}

.account {
  position: relative;
}

.dropdownList {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 10px;
  outline: 1px solid var(--main-border);
  border-radius: 8px;
  background-color: var(--main-background);
  min-width: 120px;
  padding: 8px 0;
}

.show .dropdownList {
  display: flex;
}

.dropdownList li {
  padding: 8px 16px;
  cursor: pointer;
  list-style: none;
}

.dropdownList li:hover {
  background-color: var(--secondary-background);
}
