.publication {
  padding: 16px 24px;
  margin: 16px 0px;
  border-radius: 16px;
  border: 2px solid var(--secondary-text);
  background-color: var(--main-background);
  transition: all 0.2s ease-in-out;
}

.publication:hover {
  background-color: var(--secondary-text);
  color: var(--main-background);
}

.date {
  font-size: 0.85rem;
  opacity: 0.8;
}

.title {
  margin: 4px 0 8px 0;
  color: var(--secondary-text);
  transition: color 0.2s ease;
}

.publication:hover .title {
  color: var(--main-background);
}

.reference {
  margin-top: 0;
  line-height: 1.4;
}

.link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  margin: 8px 0;
  font-weight: 500;
}

.link i {
  font-size: 0.8rem;
  transition: transform 0.3s ease-in-out;
}

.link:hover {
  color: var(--main-accent);
}

.link:hover i {
  transform: translateX(4px);
}

.keywords ul {
  display: flex;
  gap: 8px;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
  margin: 12px 0 0 0;
}

.keyword {
  font-size: 0.75rem;
  background-color: var(--secondary-text);
  color: var(--main-background);
  padding: 4px 12px;
  border-radius: 16px;
  border: 1px solid transparent;
}

.publication:hover .keyword {
  background-color: var(--main-background);
  color: var(--secondary-text);
  border: 1px solid var(--secondary-text);
}
