#root {
  max-width: 800px;
  padding: 2rem;
  flex: 1;
  margin: 0 auto;
}

.content{
  flex-grow: 1;
}

main{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  height: 100%;
}

header.menu{
  position: sticky;
  top: 32px;
  z-index: 1;
}

h1{
  color: var(--teal-300);
  font-size: 2rem;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: 
  "wdth" 150,
  "XOPQ" 175,
  "YOPQ" 25,
  "XTRA" 350,
  "YTLC" 550,
  "YTAS" 850,
  "YTDE" -300;
  margin-bottom: 0;
}

h2{
  font-size: 1.25rem;
}

a{
  color: inherit;
}

a:hover{
  color: var(--main-accent);
}

b{
  color: var(--teal-300);
}

footer{
  margin: 32px 0;
}