#root {
  max-width: 800px;
  padding: 2rem;
  flex: 1;
  margin: 0 auto;
}

.content{
  flex-grow: 1;
}

main{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  height: 100%;
}

header.menu{
  position: sticky;
  top: 32px;
  z-index: 1;
}

article{
  padding: 0 24px;
}

h2{
  font-size: 1.25rem;
}

a{
  color: inherit;
}

a:hover{
  color: var(--main-accent);
}

b{
  color: var(--teal-300);
}

footer{
  margin: 32px 0;
}