#root {
  max-width: 800px;
  padding: 2rem;
  flex: 1;
  margin: auto;
}

main{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

header.menu{
  position: sticky;
  top: 32px;
  z-index: 1;
}

article{
  padding: 0 24px;
}

h2{
  font-size: 1.25rem;
}
