.blog-post{
    padding: 12px 24px;
    margin: 8px 24px;
    border-radius: 16px;
    background-color: var(--teal-1100);
    outline: 1px solid var(--teal-900);
}

.blog-post:hover{
    cursor: pointer;
    outline: var(--teal-900) 1px solid;
    background-image: linear-gradient(210deg, var(--teal-800), var(--teal-1000));
    box-shadow: 2px -2px 2px var(--teal-900), -2px 2px 2px var(--teal-900);
}

.blog-post header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-actions ul{
    list-style: none;
    display: flex;
    gap: 8px;
    padding: 0;
    margin: 0;
}
.post-actions li{
    padding: 4px 8px;
    border-radius: 4px;
    outline: 1px solid var(--teal-800);
    background-color: var(--teal-1100);
}

.post-actions li:hover{
    background-color: var(--teal-900);
    cursor: pointer;
}

.post-date, .post-description, .post-summary{
    color: var(--teal-300);
}

.post-title{
    margin-top: 0;
}

.post-keywords ul{
    display: flex;
    gap: 8px;
    padding: 0;
    flex-wrap: wrap;
}

.post-keywords li{
    list-style: none;
    font-size: smaller;
    background-color: var(--teal-800);
    padding: 4px 16px;
    border-radius: 16px;
}

.admin-controls{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.admin-controls form{
    display: none;
}

.admin-header, .admin-controls form.show{
    display: grid;
    grid-template-columns: 1fr 120px;
    align-items: end;
    gap: 16px;
}

.create-post-title{
    display: flex;
    gap: 8px;
}

.create-post-title input{
    flex: 1;
}

.new-post-form{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
    margin-bottom: 16px;
    padding: 16px 32px;
    border-radius: 16px;
    background-color: var(--teal-1100);
    outline: 2px solid #cd5c5c;
}

.new-post-form form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.new-post-form button{
    padding: 8px 16px;
    font-size: medium;
    border-radius: 8px;
    border: none;
    background-color: #cd5c5c;
    margin-left: auto;
}

.new-post-form button:hover{
    background-color: #cd3a3a;
    cursor: pointer;
}

.codex-editor__redactor {
    padding-bottom: 0px !important; 
  }
