nav{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 3;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 36px;
    align-items: center;
    padding: 8px 16px;
    margin: 0;
    background-color: transparent;
    border-radius: 48px;
    backdrop-filter: blur(20px);
}

.menu-tab{
    padding: 4px 16px;
    box-sizing: border-box;
    border-radius: 48px;
    z-index: 3;
}

.menu-tab.active{
    color: var(--teal-300);
    text-shadow: 0px 0px 5px #000000cc;
}

.menu-tab a{
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: inherit;
}

.tab-bubble{
    position: absolute;
    border-radius: 48px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    background-color: var(--teal-800);
    z-index: 2;
}