.details h1{
    color: var(--active-text);
    margin-bottom: 0;
    font-size: clamp(65px,9.65vw,84px);
    text-align: justify;
}
.details{
    color: var(--secondary-text);
    margin-bottom: 32px;
}