
:root {
  --teal-50: #f8fafc;   /* slate-50 */
--teal-100: #f1f5f9;  /* slate-100 */
--teal-200: #e2e8f0;  /* slate-200 */
--teal-300: #cbd5e1;  /* slate-300 */
--teal-400: #94a3b8;  /* slate-400 */
--teal-500: #64748b;  /* slate-500 */
--teal-600: #475569;  /* slate-600 */
--teal-700: #334155;  /* slate-700 */
--teal-800: #1e293b;  /* slate-800 */
--teal-900: #0f172a;  /* slate-900 */
--teal-950: #08111f;  /* slate-950 */
--teal-1000: #070e17; /* You might need to adjust these darker shades */
--teal-1100: #060b13; /* to match your desired level of darkness */
--teal-1200: #05090f;
  /* --teal-50: #f0fdfa;
  --teal-100: #ccfbf1;
  --teal-200: #99f6e4;
  --teal-300: #5eead4;
  --teal-400: #2dd4ef;
  --teal-500: #14b8a6;
  --teal-600: #0d9488;
  --teal-700: #0f766e;
  --teal-800: #115e59;
  --teal-900: #134e4a;
  --teal-950: #042f2e;
  --teal-1000: #032424;
  --teal-1100: #021919;
  --teal-1200: #010a0a; */
  --nav-background: #134e4a55;
  --main-accent: #e879f9;
  font-family: "Roboto Flex", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--teal-100);
  background-image: linear-gradient(30deg, var(--teal-1100), var(--teal-1100));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-height: 100dvh;
  background-image: 
    radial-gradient(circle at 1px 1px, #cd7e7e 1px, transparent 0);
  background-size: 2rem 2rem;
  background-attachment: fixed;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
