.login-form-container h1{
    color: var(--active-text);
    font-size: clamp(48px,9.25vw,80px);
}
.login-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.login-form-container h2, .login-form-container p{
    margin: 0;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
    margin-bottom: 16px;
    padding: 16px 32px;
    border-radius: 16px;
    background-color: var(--slate-1100);
    outline: 2px solid var(--secondary-text);
    min-width: 400px;
}

.login-form form{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

input{
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid var(--main-border);
    outline: none;
    background-color: var(--secondary-background);
}

.login-form-container button{
    padding: 8px 16px;
    font-size: medium;
    border-radius: 8px;
    border: none;
    background-color: var(--secondary-text);
}

.login-form-container button:hover{
    background-color: var(--active-text);
    cursor: pointer;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-separator{
    height: 2px;
    width: 100%;
    background-color: var(--slate-800);
    position: relative;
}

.form-separator p{
    position: absolute;
    padding: 0 16px;
    background-color: var(--slate-1100);
    z-index: 1;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.social-login{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    align-items: center;
}
.forgot-or-remember{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-login button{
    outline: 1px solid var(--slate-800);
    background-color: inherit;
}

.social-login button:hover{
    background-color: var(--slate-900);
    cursor: pointer;
}

.alert-message{
    min-width: 20px;
    min-height: 20px;
    position: fixed;
    right: 50px;
    top: 50px;
    padding: 0 16px;
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: var(--slate-1100);
    border-radius: 8px;
    z-index: 4;
    animation: slide-in-out 3s forwards;
}

.alert-message.fail{
    outline: 2px solid #cd5c5c;
}

.alert-message.success{
    outline: 2px solid #367c39;
}

.alert-message.warning{
    outline: 2px solid #cc7a00;
}

.alert-message.fail i{
    font-size: medium;
    color: #cd5c5c;
}
.alert-message.success i{
    font-size: medium;
    color: #367c39;
}
.alert-message.warning i{
    font-size: medium;
    color: #cc7a00;
}

@keyframes slide-in-out{
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    10%{
        transform: translateX(0);
        opacity: 1;
    }
    90%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(100%);
        opacity: 0;
    }
}
