.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.profile-container h2, .profile-container p{
    margin: 0;
}

.profile-form{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
    margin-bottom: 16px;
    padding: 16px 32px;
    border-radius: 16px;
    background-color: var(--teal-1100);
    outline: 2px solid #cd5c5c;
    min-width: 400px;
}

.profile-form form{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.profile-form button{
    padding: 8px 16px;
    font-size: medium;
    border-radius: 8px;
    border: none;
    background-color: #cd5c5c;
}

.profile-form button:hover{
    background-color: #cd3a3a;
    cursor: pointer;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-message{
    font-size: smaller;
    color: #cd5c5c;
}

.input-error{
    outline: 1px solid #cd5c5c;
    color: #cd5c5c;
}

input:focus{
    outline: 2px solid var(--teal-500);
    color: inherit;
}

.delete-warning.hidden{
    display: none;
}

.delete-warning{
    color: #cd5c5c;
    display: flex;
    gap: 8px;
    align-items: center;
}

.delete-warning i{
    font-size: medium;
}

.delete-warning p{
    margin-top: 8px;
}

