.content-section h2{
    color: var(--secondary-text);
}

.project{
    padding: 16px 24px;
    margin: 8px 0px;
    border-radius: 16px;
    border: 2px solid var(--secondary-text);
    background-color: var(--main-background);
}

.project:hover{
    background-color: var(--secondary-text);
    color: var(--main-background);
}

.project-name{
    margin-top: 0;
    color: var(--secondary-text);
}

.project:hover .project-name{
    color: var(--main-background);
}

.project-info{
    color: inherit;
    text-decoration: none;
}

.project-info i{
    transform: scale(0.75) translate(0px,2px);
    transition: transform 0.3s ease-in-out;
}

.project-info:hover{
    color: var(--main-accent);
}

.project-info:hover i{
    transform: scale(0.75) translate(2px,2px);
}

.project-technologies ul{
    display: flex;
    gap: 8px;
    padding: 0;
    flex-wrap: wrap;
}

.project-technologies li{
    list-style: none;
    font-size: smaller;
    background-color: var(--secondary-text);
    color: var(--main-background);
    padding: 4px 16px;
    border-radius: 16px;
}

.project:hover .project-technologies li{
    background-color: var(--main-background);
    color: var(--secondary-text);
}

.project-links{
    display: flex;
    gap: 16px;
}